

<%- include ../partials/homeheader %>
<!DOCTYPE html>


<head>
 <title>Oaknest | Unboxing Furnitures</title>
<meta charset="utf-8" />
<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;amp;subset=latin-ext" rel="stylesheet" />

<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/plugins/fonts/Linearicons/Linearicons/Font/demo-files/demo.css" />
<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/plugins/owl-carousel/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="/plugins/owl-carousel/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="/plugins/slick/slick/slick.css" />
<link rel="stylesheet" href="/plugins/nouislider/nouislider.min.css" />
<link rel="stylesheet" href="/plugins/lightGallery-master/dist/css/lightgallery.min.css" />
<link rel="stylesheet" href="/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css" />

<link rel="stylesheet" href="/plugins/style.css" />
    <script>
       
      
    </script>
 
    

    <style>
        .scroll {
            height: 500px;
            overflow-y: scroll;
        }
    </style>
    <script>
        function increment() {
            var qnty = document.getElementById('numitem');
            var val = document.getElementById('numitem').value;
                qnty.value = parseInt(val) + 1;
        }
        function decrement() {
            var qnty = document.getElementById('numitem');
            var val = document.getElementById('numitem').value;
            if (val > 1)
                qnty.value = parseInt(val) - 1;
        }
    </script>
  
    
    

   
</head>
          

        <!-----------------Content Main Placeholder--------------------->
        
    <!-- <div class="ps-breadcrumb">
        <div class="ps-container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#" id="ContentPlaceHolder1_catname"></a></li>
                <li><a href="#" id="ContentPlaceHolder1_subcatname">Product Name</a></li>
                <li id="ContentPlaceHolder1_prodname">Voyager Portable table in Brazilian walnut Finish</li>
            </ul>
        </div>
    </div> -->
    <section class="bg0 ">
        <div>
            <div class="categories-thumbs category-stories" style="--bgcolor:rgba(48,143,255,0.1); --bgcolor2:rgba(48,143,255,0);position: relative;">
                <div class="container">
                <div class="set-inline">
                    <div class="category-strip">
                        <div class="bredcrumb">
                            <div class="sidebar-links  st-search-bar" style="margin-top: 20px;" >
                                <form action="/products/search" method="GET">
                                   <input   type="text" name="search" placeholder="Search..." value="" autocapitalize="off" autocomplete="off" autocorrect="off">
                               </form>
                        
                               </div>
                            
                            <ul>
                                <li>
                                    <a href="/">Home</a> <span class="b-arrow"><svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 2.107L4.351 6.4 0 10.693 1.324 12 7 6.4 1.324.8 0 2.107z" fill="#212121"></path></svg></span>
                                </li>
                              <li class="active ">
                                <a role="button"> <%=product.title%></a>
                            </li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
    
            </div>
            </div>
        </div>
    
    </section>
    
    <div class="ps-page--product">
        <div class="ps-container">
            <div class="ps-page__container">
                <div class="ps-page__left">
                    <div class="ps-product--detail ps-product--fullwidth">
                        <div class="ps-product__header">
                            <div class="ps-product__thumbnail" data-vertical="true">
                                <figure>
                                    <div class="ps-wrapper">
                                        <div class="ps-product__gallery" data-arrow="true">
                                            <% for(var i=0;i<product.imagePath.length;i++){ %>
                                        
                                                <div class="item" style="width:100%;height: 500px;max-width: 480px;">
                                                    <a href="<%=product.imagePath[i]%>" id="ContentPlaceHolder1_addImganchor<%=i%>">
                                                        <img src="<%=product.imagePath[i]%>" style="width:100%;height: -webkit-fill-available;object-fit: contain;"id="ContentPlaceHolder1_addImageImg<%=i%>" alt="" /></a>
                                                </div>
                                                <%}%>
                                           
                                        </div>
                                    </div>
                                </figure>
                                <div class="ps-product__variants" data-item="4" data-md="4" data-sm="4" data-arrow="false">
                                    <% for(var i=0;i<product.imagePath.length;i++){ %>
                                        
                                        <div class="item" style="height: 100px;">
                                            <img src="<%=product.imagePath[i]%>" id="ContentPlaceHolder1_baseImganchor<%=i%>" style="transform: scale3d(1,1,1);height: -webkit-fill-available;object-fit: contain;" alt="" />
                                        </div>
                                        <%}%>
                                    
                                  
                                
                                 
                                </div>
                            </div>
                            <div class="ps-product__info">
                                <h1 id="ContentPlaceHolder1_productName" style="font-size: 22px;font-weight: 600;"> <%=product.title%></h1>
                                <!-- <div class="ps-product__meta">
                                    <p style="display:none;">Brand:<a href="javascript:void(0);" id="ContentPlaceHolder1_brandName">PloraWood</a></p>
                                    <div class="ps-product__rating" style="display:none;">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="2">5</option>
                                        </select><span>(1 review)</span>
                                    </div>
                                </div> -->
                                <div class="row" style="margin-left: 4px;">
                                    <h4 id="ContentPlaceHolder1_pro_mainPrice" class="ps-product__price">  ₹<%=product.price%></h4>
                                    &nbsp;&nbsp;<del id="ContentPlaceHolder1_delprice" style="color:grey;text-align: center;"><h3 id="ContentPlaceHolder1_pro_delPrice" class="ps-product__price" style="color: grey;font-size: 16px;margin-top: 5px;">₹<%=product.mrpPrice%></h3>
                                    </del>
                                    <%if(product.discount){%>
                                    <h2 id="ContentPlaceHolder1_pro_mainPrice" class="ps-product__price" style="color:#f30;font-size: 14px;margin-top:7px;margin-left: 5px;">  (<%=product.discount%> OFF)</h2>
                                    <%}%>
                                </div>
                                <div class="ps-product__desc">
                                    <% if(product.available) {%>
                                <p style="margin-top: 5px;color: green;font-size: 22px;font-weight: 600;">In stock</p>
                                        <% } else { %>
                                        <p style="margin-top: 5px;color: red;font-size: 22px;font-weight: 600;">Out of stock</p>
                                        <%} %>

                                </div>
                                <div id="ContentPlaceHolder1_shortDesc"><ul>
	<li>
		<%=product.short_description%></li>

</ul>
</div>
                                

                                
                                <div class="ps-product__shopping">
                                    <figure style="margin-bottom: 5px;">
                                        <figcaption>Quantity</figcaption>
                                        <div class="form-group--number">
                                            <button type="button" class="up" id="up" onclick="increment();"><i class="fa fa-plus mainbtn" style="border: none;"></i></button>
                                            <button type="button" class="down" id="down" onclick="decrement();"><i class="fa fa-minus mainbtn" style="border: none;"></i></button>
                                            <input name="qty" type="text" id="numitem" class="form-control mainbtn" value="1" placeholder="1" />
                                        </div>
                                    </figure>
                                    <a id="ContentPlaceHolder1_adCart" class="ps-btn ps-btn--black mainbtn" onclick="submitmyform()" style="margin-bottom: 5px;">Add to cart</a>
                                    <a id="ContentPlaceHolder1_butNow" class="ps-btn mainbtn"  onclick="addwishlist(`<%=product._id%>`)" style="color: white;margin-bottom: 5px;">Add to wishlist</a>
                                    <form action="/increase/<%=product._id%>" method="GET" id="add-to-cart-form">
                                        <input type="hidden" name="qty" value="1" id="copynum" >
                                        <input type="hidden" name="sub_var" value="0" id="sub_variant" >
                                        <input type="hidden" name="main_var" value="0" id="main_variant" >
                                    </form>
                                    <div class="ps-product__actions">
                                       
                                       
                                    </div>
                                </div>
                                <div class="ps-product__shopping">
                               <% for(var i=0;i<product.variants.length;i++){%>
                                     <a id="main<%=i%>" class="ps-btn ps-btn--black mainbtn" style="margin-bottom: 5px; background-color:#eaeded;color: black;" onclick="select_main(`<%=i%>`)"><%=product.variants[i].main_varient%></a>
                                     <%}%> 
                                     
                                 </div>
                                 <% for(var i=0;i<product.variants.length;i++){%>
                                 <div class="ps-product__shopping sub" id="sub<%=i%>" style="display: none;">
                                
                          <% for(var j=0;j<product.variants[i].sub_variants.length;j++){%>                                     
                                           <a id="q<%=i%><%=j%>" class="ps-btn ps-btn--black subbtn" href="/products/<%=product.variants[i].sub_variants[j].variantid%>" style="margin-bottom: 5px; background-color:#eaeded;color: black;" onclick="set_productid(`<%=product.variants[i].sub_variants[j].variantid%>`,`q<%=i%><%=j%>`)"><%=product.variants[i].sub_variants[j].quantity_type%></a>
                                         
                                         <%}%>
                                        </div>
                                       <%}%>
                                  <!--Attributes Section here-->
                    
                                <!--Attributes Section here End-->

                                <table class="table ps-table--product-groupped">
                                   
                                    <tbody>
                                        <tr>
                                            <td style="width: 60%">
                                                <input name="ctl00$ContentPlaceHolder1$pincode" type="text" id="zip" name="zipCode" class="form-control mainbtn" placeholder="Enter Pincode For Delivery" /></td>
                                            <td style="width: 40%;">
                                                <input type="submit"  value="Check" type="button" id="checkPin" class="ps-btn ps-btn--gray mainbtn" style="background-color:goldenrod;text-align: center;" />
                                                </td>
                                        </tr>
                                         <div id="ContentPlaceHolder1_updatepanelpincode">
	
                                        <tr>
                                            <td>
                                                <ul class="details-bullet">
                                                    <li>          
                                            <p id="statusResult1" >Enter your Pincode to check Delivery Options available in your Area.</p>
                                                  <p id="statusResult2"></p>
                                                    </li></ul>
                                            </td>
                                        </tr>
                                         
              </div>
                                    </tbody>
                                           
                                </table>


                                
                                <div class="ps-product__sharing"></div>
                                
                            </div>
                        </div>
                        <div class="ps-product__content ps-tab-root">
                            <ul class="ps-tab-list">
                                <li class="active"><a href="#tab-1">Description</a></li>
                                <li><a href="#tab-2">Specification</a></li>
                                <li><a href="#tab-3">How to use</a></li>
                                <li><a href="#tab-4">Reviews (<span id="ContentPlaceHolder1_reviewCount">0</span>)</a></li>
                              
                            </ul>
                            <div class="ps-tabs">
                                <div class="ps-tab active" id="tab-1">
                        <div id="ContentPlaceHolder1_ProDescription" class="ps-document">
                            <%-product.description%>
                    </div>
                                </div>
                                <div class="ps-tab" id="tab-2">
                                    <div class="table-responsive">
                                        <table class="table table-bordered ps-table ps-table--specification">
                                            <tbody>
                                 <div class=" m-lr-auto">
                                  <ul class="p-lr-5 p-lr-5-sm">
                                                        <li class="flex-w flex-t p-b-7">
                                                            <span class="stext-102 c15 size-205 ">
                                                                Weight
                                                            </span>
                    
                                                            <span class="stext-102 cl6 size-206">
                                                                <%=product.specific_quantity%> 
                                                            </span>
                                                        </li>
                    
                                                      
                    
                                                        <li class="flex-w flex-t p-b-7">
                                                            <span class="stext-102 cl5 size-205">
                                                                Materials
                                                            </span>
                    
                                                            <span class="stext-102 cl6 size-206">
                                                        <%=product.specific_ingredients%> 
                                                            </span>
                                                        </li>
                    
                    
                                                        <li class="flex-w flex-t p-b-7">
                                                            <span class="stext-102 cl5 size-205">
                                                                Type
                                                            </span>
                    
                                                            <span class="stext-102 cl6 size-206">
                                                                <%=product.specific_type%>
                                                            </span>
                                                        </li>
                                                        <li class="flex-w flex-t p-b-7">
                                                            <span class="stext-102 cl5 size-205">
                                                                Manuf. Date
                                                            </span>
                    
                                                            <span class="stext-102 cl6 size-206">
                                                                <%=product.specific_date%>
                                                            </span>
                                                        </li>
                                                        <li class="flex-w flex-t p-b-7">
                                                            <span class="stext-102 cl5 size-205">
                                                                Expiry Date
                                                            </span>
                    
                                                            <span class="stext-102 cl6 size-206">
                                                                <%=product.specific_expiry_date%>
                                                            </span>
                                                        </li>
                                                        <li class="flex-w flex-t p-b-7">
                                                            <span class="stext-102 cl5 size-205">
                                                                Manufacturer
                                                            </span>
                    
                                                            <span class="stext-102 cl6 size-206">
                                                                <%=product.manufacturer%> 
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="ps-tab" id="tab-3">
                                    <div class="ps-block--questions-answers">
                                        <div class="how-pos2 p-lr-15-md">
                                            <p class="stext-102 cl6">
                                               Step-1: <%=product.description_use_first%>
                                            </p>
                                            <p class="stext-102 cl6">
                                               Step-2: <%=product.description_use_second%>
                                            </p>
                                            <p class="stext-102 cl6">
                                                Step-3: <%=product.description_use_third%>
                                             </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="ps-tab" id="tab-4">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 ">
                                            <div class="ps-block--average-rating">
                                                <div class="ps-block__header">
                                                    <h3 id="ContentPlaceHolder1_avgstar">0.0</h3>
                                                    <select class="ps-rating" data-read-only="true">
                                                        <option id="ContentPlaceHolder1_ops1" value="2">1</option>
                                                        <option id="ContentPlaceHolder1_ops2" value="2">2</option>
                                                        <option id="ContentPlaceHolder1_ops3" value="2">3</option>
                                                        <option id="ContentPlaceHolder1_ops4" value="2">4</option>
                                                        <option id="ContentPlaceHolder1_ops5" value="2">5</option>
                                                    </select><span id="ContentPlaceHolder1_totalreview">0 Review</span>
                                                </div>
                                                <div class="ps-block__star">
                                                    <span>5 Star</span>
                                                    <div id="ContentPlaceHolder1_star5" class="ps-progress" data-value="0"><span></span></div>
                                                    <span id="ContentPlaceHolder1_star51">0</span>
                                                </div>
                                                <div class="ps-block__star">
                                                    <span>4 Star</span>
                                                    <div id="ContentPlaceHolder1_star4" class="ps-progress" data-value="0"><span></span></div>
                                                    <span id="ContentPlaceHolder1_star41">0</span>
                                                </div>
                                                <div class="ps-block__star">
                                                    <span>3 Star</span>
                                                    <div id="ContentPlaceHolder1_star3" class="ps-progress" data-value="0"><span></span></div>
                                                    <span id="ContentPlaceHolder1_star31">0</span>
                                                </div>
                                                <div class="ps-block__star">
                                                    <span>2 Star</span>
                                                    <div id="ContentPlaceHolder1_star2" class="ps-progress" data-value="0"><span></span></div>
                                                    <span id="ContentPlaceHolder1_star21">0</span>
                                                </div>
                                                <div class="ps-block__star">
                                                    <span>1 Star</span>
                                                    <div id="ContentPlaceHolder1_star1" class="ps-progress" data-value="0"><span></span></div>
                                                    <span id="ContentPlaceHolder1_star11">0</span>
                                                </div>
                                            </div>
                                        </div>
      <div id="ContentPlaceHolder1_ratingDiv" class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12" style="">
                                            <div id="ContentPlaceHolder1_submitDiv" class="ps-form--review">
                                                <div id="flash-msg" class="alert alert-danger dis-none"></div>
                                   
                                                <form class="w-full" id="cmform">
                                                    <h5 class="mtext-108 cl2 p-b-7">
                                                        Add a review
                                                    </h5>
            
                                                    <p class="stext-102 cl6">
                                                        Your email address will not be published. Required fields are marked *
                                                    </p>
            
                                                    <div class="flex-w p-t-5" style="flex-direction: column;justify-content: left;">
                                                        <span class="stext-102 cl3 m-r-16"
                                                        style="text-align: left;">
                                                            Your Rating<span style="color: red;margin-top: 10px;">*</span>
                                                        </span>
            
                                                        <span class="wrap-rating fs-18 cl11 pointer"  style="text-align: left;">
                                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                            <input class="dis-none" type="number" id="rating" name="rating">
                                                        </span>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-12 p-b-5 p-l-0">
                                                            <label class="stext-102 cl3" for="review" style="text-align: left;">Your review <span style="color: red;">*</span></label>
                                                            <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review" name="review"></textarea>
                                                        </div>
                           
                                                    </div>
            
                                                    <button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10">
                                                        Submit
                                                    </button>
                                                </form>
                                            </div>
                                        </div>

                                        <br />
      

              <%if(reviews.length>0){%>
            
                <% for(var i=0;i<reviews.length;i++){ %>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 scroll">
                 <div class="flex-w flex-t p-t-25 p-b-8" id="r1">
                      <div class="wrap-pic-s bor0 of-hidden m-r-18 m-t-6" style="width: 48px;height: 48px;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 464 464"><g fill="#f9ede0"><path d="M305.872 451.92a209.097 209.097 0 0 1-7.296 2.336c2.456-.736 4.88-1.528 7.296-2.336zM317.992 447.472c-2.608 1.04-5.216 2.064-7.872 3.008a231.662 231.662 0 0 0 7.872-3.008z"></path></g><circle cx="232" cy="232" r="232" fill="#efece8"></circle><g fill="#f9ede0"><path d="M293.896 455.584zM215.192 463.328c-2.832-.2-5.656-.416-8.448-.72 2.8.304 5.624.52 8.448.72zM177.256 457.44c-2.4-.584-4.784-1.208-7.16-1.864 2.376.664 4.76 1.288 7.16 1.864zM201.944 462a236.382 236.382 0 0 1-7.576-1.08c2.504.408 5.04.744 7.576 1.08zM232 464zM189.416 460.032zM142.608 446.128zM153.872 450.48zM244.72 463.64zM257.256 462.608c-2.8.304-5.624.52-8.448.72 2.824-.2 5.648-.416 8.448-.72zM281.848 458.576zM269.64 460.912c-2.512.408-5.04.752-7.576 1.08 2.528-.328 5.064-.664 7.576-1.08zM332.032 441.368a235.234 235.234 0 0 1-10.64 4.76 226.642 226.642 0 0 0 10.64-4.76zM165.424 454.256zM321.392 446.128c-1.12.472-2.264.888-3.392 1.336 1.12-.448 2.264-.864 3.392-1.336zM332.352 441.224c-.104.048-.216.096-.32.144.104-.048.216-.088.32-.144zM182.152 458.576zM194.36 460.912a256.257 256.257 0 0 1-4.952-.88c1.656.304 3.296.616 4.952.88zM219.28 463.64c-1.368-.072-2.728-.216-4.088-.312 1.368.096 2.72.24 4.088.312zM206.744 462.608c-1.608-.176-3.2-.4-4.8-.608 1.6.208 3.192.432 4.8.608zM131.928 441.352c-.088-.04-.184-.08-.272-.12.088.04.184.08.272.12zM248.808 463.328c-1.368.096-2.72.24-4.088.312 1.368-.072 2.72-.216 4.088-.312zM298.576 454.256zM310.128 450.48c-1.408.504-2.832.96-4.248 1.44 1.416-.48 2.84-.936 4.248-1.44zM146.008 447.472c-1.128-.448-2.272-.872-3.392-1.336 1.12.464 2.264.88 3.392 1.336zM158.128 451.92c-1.416-.48-2.848-.936-4.248-1.44 1.4.504 2.824.96 4.248 1.44zM262.056 462c-1.6.208-3.192.44-4.8.608 1.608-.176 3.2-.4 4.8-.608zM286.744 457.44c-1.624.392-3.256.768-4.896 1.128 1.64-.352 3.272-.728 4.896-1.128zM274.584 460.032c-1.648.304-3.288.616-4.952.88 1.664-.264 3.304-.576 4.952-.88zM170.104 455.584c-1.56-.432-3.128-.864-4.68-1.328 1.552.464 3.112.896 4.68 1.328z"></path></g><path d="M285.104 247.952C310.952 230.744 328 201.376 328 168c0-53.016-42.984-96-96-96s-96 42.984-96 96c0 33.376 17.048 62.744 42.896 79.952 0 0 .008.008.016.008-.008 0-.008-.008-.008-.008-61.872 18.648-110.048 68.864-125.56 132.04l.008.008a237.163 237.163 0 0 0 7.832 8.944c.648.712 1.328 1.392 1.992 2.088a239.937 239.937 0 0 0 6.296 6.464c.888.872 1.792 1.712 2.696 2.568a233.567 233.567 0 0 0 6.04 5.568c1.016.896 2.048 1.784 3.072 2.664 2.008 1.72 4.04 3.408 6.112 5.056 1.088.872 2.184 1.728 3.28 2.584a214.91 214.91 0 0 0 6.376 4.72c1.112.792 2.208 1.6 3.336 2.376 2.272 1.568 4.584 3.072 6.912 4.56 1.048.664 2.072 1.352 3.128 2.008a237.722 237.722 0 0 0 8.184 4.792c.728.408 1.44.848 2.176 1.248a231.937 231.937 0 0 0 10.872 5.592c.088.04.184.08.272.12 3.512 1.68 7.08 3.272 10.688 4.776 1.12.472 2.264.888 3.392 1.336 2.608 1.04 5.216 2.064 7.872 3.008 1.408.504 2.832.96 4.248 1.44 2.416.816 4.848 1.608 7.296 2.336 1.552.464 3.112.896 4.68 1.328 2.368.656 4.752 1.28 7.16 1.864a219.555 219.555 0 0 0 12.152 2.584c1.648.304 3.288.616 4.952.88 2.512.408 5.04.752 7.576 1.08 1.6.208 3.192.44 4.8.608 2.8.304 5.624.52 8.448.72 1.368.096 2.72.24 4.088.312 4.216.24 8.448.376 12.72.376s8.504-.136 12.72-.36c1.368-.072 2.728-.216 4.088-.312 2.832-.2 5.656-.416 8.448-.72 1.608-.176 3.2-.4 4.8-.608 2.536-.328 5.064-.672 7.576-1.08 1.656-.272 3.304-.576 4.952-.88a215.477 215.477 0 0 0 12.152-2.584c2.4-.584 4.784-1.208 7.16-1.864 1.56-.432 3.128-.864 4.68-1.328 2.456-.736 4.88-1.528 7.296-2.336 1.416-.48 2.848-.936 4.248-1.44a245.374 245.374 0 0 0 7.872-3.008c1.128-.448 2.272-.872 3.392-1.336a226.642 226.642 0 0 0 10.64-4.76c.104-.048.216-.096.32-.144 3.68-1.768 7.304-3.64 10.872-5.592.736-.4 1.448-.84 2.176-1.248a237.722 237.722 0 0 0 8.184-4.792c1.056-.648 2.088-1.336 3.128-2.008 2.328-1.488 4.64-3 6.912-4.56 1.12-.776 2.224-1.576 3.336-2.376a247.51 247.51 0 0 0 6.376-4.72 202.128 202.128 0 0 0 3.28-2.584 230.055 230.055 0 0 0 6.112-5.056c1.032-.88 2.064-1.768 3.072-2.664a233.567 233.567 0 0 0 6.04-5.568c.896-.856 1.808-1.704 2.696-2.568a228.37 228.37 0 0 0 6.296-6.464c.656-.704 1.336-1.384 1.992-2.088 2.68-2.92 5.304-5.896 7.832-8.944l.008-.008c-15.504-63.184-63.68-113.4-125.552-132.048z" fill="#c6c3bd"></path></svg>
                                                            </div>
                    
                                                            <div class="size-207">
                                                                <div class="flex-w flex-sb-m ">
                                                                    <div style="display: flex;flex-direction: column;justify-content: flex-start;width: 100%;">
                                                                    <span class="mtext-107 cl2 " style="text-align: left;">
                                                                       <%=reviews[i].name%>
                                                                    </span>
                                                                    <span class=" cl6" style="text-align: left;">
                                                                        <%=reviews[i].createdAt%>
                                                                    </span>
                                                                 </div>
                                                                    <span class="fs-18 cl11"style="text-align: left;">
                                                     <%for(var j=0;j<reviews[i].rating;j++){ %>   
                                                                        <i class="zmdi zmdi-star"></i>
                                                                        <%}%>
                                                    <%for(var k=0;k<5-reviews[i].rating;k++){ %> 
                                                                        <i class="zmdi zmdi-star-outline"></i>
                                                                        <%}%>
                                                                    </span>
                                                                </div>
                    
                                                                <p class="stext-102 cl6"style="text-align: left;">
                                                                    <%=reviews[i].comment%>
                                                                </p>
                                                            </div>
                </div>
            </div>
                      <%}%> 
                      <%}else{%>
                        <div>
                  <h5 style="margin: 50px;color: orange;">Make first comment to review*</h5>
              </div>
              <%}%>              

      



                                    </div>
                                </div>
                             

                            </div>
                        </div>
                    </div>
                </div>
                <div class="ps-page__right">
                    <aside class="widget widget_product widget_features">
                        <p><i class="icon-network"></i>Shipping worldwide</p>
                        <p><i class="icon-3d-rotate"></i>Free 7-day return if eligible, so easy</p>
                        <p><i class="icon-receipt"></i>Supplier give bills for this product.</p>
                        <p><i class="icon-credit-card"></i>Pay online or when receiving goods</p>
                    </aside>
                 
                    <aside class="widget widget_ads">
                        <a href="#">
                            <img src="img/ads/Preview1.jpg" alt=""></a>
                    </aside>
                    <aside class="widget widget_same-brand">
                        <h3>Other Products</h3>
                        <div class="widget__content">
                        
                        <%for(var i=0;i<others.length;i++){%>
                           

                               
                                               
                                         <div class="product" style="z-index: 1;margin: 20px auto;"> 
                                           <div class="make3D" style="transition: all 100ms ease-out 0s;">
                                          <div class="product-front" style="display: block;">
                                              <div>
                                                  <a role="button" class="favourite-icon" onclick="addwishlist(`<%=others[i]._id%>`)"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 29 24"><path class="love<%=others[i]._id%>" fill="#fff" stroke="#000" stroke-width="1.826" d="M14.617 21.99l-.058-.029a34.366 34.366 0 0 1-1.923-1.036 36.172 36.172 0 0 1-4.452-3.05l-.002-.001C3.83 14.386 1.787 10.747 1.854 7.37v-.035L1.852 7.3c-.097-1.745.552-3.357 1.744-4.497v-.001C4.72 1.725 6.32 1.117 8.06 1.117c1.283 0 2.498.498 3.546 1.167a12.346 12.346 0 0 1 2.342 1.98l.67.72.668-.72c.477-.514 1.298-1.314 2.342-1.98 1.049-.669 2.264-1.167 3.547-1.167 1.776 0 3.34.607 4.463 1.686h.001c1.182 1.133 1.809 2.711 1.742 4.55v.052c.067 3.341-1.976 6.98-6.328 10.469l-.001.001a36.533 36.533 0 0 1-6.378 4.086l-.057.028z"></path></svg></a>
                                              </div>
                                             
                                              <div style="width: 200px;height: 200px; margin-top: 5px;" class="image_wrapper">
                                                <img  style="width: 100%;
                                            
                                                object-fit: cover;margin:0 auto;" src="<%-others[i].imagePath[0]%>" alt="">
                                          </div>
                                          <div class="add_to_cart" onclick="addtocart('<%=others[i]._id%>')">
                                            <i class="fa fa-shopping-cart"></i>
                                          </div>
                                           <a href="/products/<%=others[i]._id%>" >
                                              <div class="view_gallery odd_one" >
                                                <i class="fa fa-eye"></i></div> 
                                          </a>
                                          <style>
                                              @media(min-width:501px){
                                              .odd_one{
                                                top:-25px;
                                                left: 102px;
                                              }
                                            }
                                              @media(max-width:500px){
                                              .odd_one{
                                                top:-55px !important;
                                                left: 92px !important;
                                              }
                                            }
                                            @media(max-width:380px){
                                              .odd_one{
                                                top:-49px !important;
                                                left: 66px !important;
                                              }
                                            }
                                          </style>          
                                            <div class="stats">        	
                                                <div class="stats-container">
                                                  <div style="display: flex;flex-direction: row;justify-content: flex-start;">
                        
                                                    <span class="product_price" >₹<%=others[i].price%></span>
                                                    <span class="product_price mrp" style="color: #666;font-size: 12px;margin-top: 2px;text-align: center;margin-left: 10px;"><del>₹<%=others[i].mrpPrice%></del></span>
                                                    <%if(others[i].discount){%>
                                                        
                                                        <span class="product_price " style="color: #f30;;"><%=others[i].discount%></span>
                                                        <%}%>
                                                    </div>
                              <div class="elipse">

                                                    <span class="product_name"><%=others[i].title%></span>    
                                                 
                                                              </div>
                                                                         
                                               </div>                         
                                            </div>
                                          </div>
                                          
                                          
                                      </div>	
                                                 
                                          
                                                </div>
                               
                               
                            
                            <%}%>
                            
                        
                        </div>
                    </aside>
                </div>
            </div>
            <div class="ps-section--default">
                <div class="ps-section__header">
                    <h3>Related products</h3>
                </div>
                <div class="wrap-slick2">
                    <div class="slick2">
                        <% for(var i=0;i<recommends.length;i++){ %>
                            <div class="item-slick2  p-t-15 p-b-15" >
                                <!-- Block2 -->
                         <div class="product" style="z-index: 1;margin: 0 auto;"> 
                           <div class="make3D" style="transition: all 100ms ease-out 0s;">
                          <div class="product-front" style="display: block;">
                              <div>
                                  <a role="button" class="favourite-icon" onclick="addwishlist(`<%=recommends[i]._id%>`)"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 29 24"><path class="love<%=recommends[i]._id%>" fill="#fff" stroke="#000" stroke-width="1.826" d="M14.617 21.99l-.058-.029a34.366 34.366 0 0 1-1.923-1.036 36.172 36.172 0 0 1-4.452-3.05l-.002-.001C3.83 14.386 1.787 10.747 1.854 7.37v-.035L1.852 7.3c-.097-1.745.552-3.357 1.744-4.497v-.001C4.72 1.725 6.32 1.117 8.06 1.117c1.283 0 2.498.498 3.546 1.167a12.346 12.346 0 0 1 2.342 1.98l.67.72.668-.72c.477-.514 1.298-1.314 2.342-1.98 1.049-.669 2.264-1.167 3.547-1.167 1.776 0 3.34.607 4.463 1.686h.001c1.182 1.133 1.809 2.711 1.742 4.55v.052c.067 3.341-1.976 6.98-6.328 10.469l-.001.001a36.533 36.533 0 0 1-6.378 4.086l-.057.028z"></path></svg></a>
                              </div>
                             
                              <div style="width: 200px;height: 200px; margin-top: 5px;" class="image_wrapper">
                                <img  style="width: 100%; height: -webkit-fill-available;
                      
                                object-fit: contain;margin:0 auto;" src="<%-recommends[i].imagePath[0]%>" alt="">
                          </div>
                          <div class="add_to_cart" onclick="addtocart('<%=recommends[i]._id%>')">
                            <i class="fa fa-shopping-cart"></i>
                          </div>
                           <a href="/products/<%=recommends[i]._id%>" >
                              <div class="view_gallery odd_one" >
                                <i class="fa fa-eye"></i></div> 
                          </a>
                          <style>
                              @media(min-width:501px){
                              .odd_one{
                                top:-25px;
                                left: 102px;
                              }
                            }
                              @media(max-width:500px){
                              .odd_one{
                                top:-55px !important;
                                left: 92px !important;
                              }
                            }
                            @media(max-width:380px){
                              .odd_one{
                                top:-49px !important;
                                left: 66px !important;
                              }
                            }
                          </style>          
                            <div class="stats">        	
                                <div class="stats-container">
                                  <div style="display: flex;flex-direction: row;justify-content: flex-start;">
        
                                    <span class="product_price" >₹<%=recommends[i].price%></span>
                                    <span class="product_price mrp" style="color: #666;font-size: 12px;margin-top: 2px;text-align: center;margin-left: 10px;"><del>₹<%=recommends[i].mrpPrice%></del></span>
                                    <%if(recommends[i].discount){%>
                                        
                                        <span class="product_price " style="color: #f30;margin-left: 10px;font-size: 12px;margin-top: 2px;text-align: center;"><%=recommends[i].discount%></span>
                                        <%}%>
                                    </div>
                                       <div class="elipse">
                                    
                                    <span class="product_name"><%=recommends[i].title%></span>    
                                 
                                        </div>

                               </div>                         
                            </div>
                          </div>
                          
                          
                      </div>	
                                 
                          
                                </div>
                            </div>
                      <%}%>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
    



        document.getElementById('cmform').onsubmit = async(e) => {
          e.preventDefault();
        
          const params={
              'id':'<%=product._id%>',
              '_csrf':'<%=csrfToken%>',
              'rating':document.getElementById('rating').value,
              'review':document.getElementById('review').value.trim()
          }
          console.log(params);
          const login='<%=login%>';
          console.log(login);
          if(login=='false'){
              window.location.href='/user/signin';
          }else{
          if(params.rating!='0' && params.review!=""){
          const response = await fetch("/review", {method:"POST", 
            headers: {"Content-type": "application/json; charset=UTF-8"
            }, body:JSON.stringify(params)});
          console.log(response);
          if(response.ok){
            const js=await response.json();
                    console.log(js);
                    console.log('hi');
        document.getElementById("cmform").reset();
        var stars=document.getElementsByClassName('item-rating');
        [...stars].forEach(star=>{
         
            if(star.classList.contains('zmdi-star')){
                console.log(star)
                star.classList.remove('zmdi-star');
                star.classList.add('zmdi-star-outline');
            }
        })
        if(js.data!=null){
          const newreview=`<div class="flex-w flex-t p-b-8" id='r2'>
                                                <div class="wrap-pic-s  bor0 of-hidden m-r-18 m-t-6" style="width:48px;height:48px">
                                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 464 464"><g fill="#f9ede0"><path d="M305.872 451.92a209.097 209.097 0 0 1-7.296 2.336c2.456-.736 4.88-1.528 7.296-2.336zM317.992 447.472c-2.608 1.04-5.216 2.064-7.872 3.008a231.662 231.662 0 0 0 7.872-3.008z"></path></g><circle cx="232" cy="232" r="232" fill="#efece8"></circle><g fill="#f9ede0"><path d="M293.896 455.584zM215.192 463.328c-2.832-.2-5.656-.416-8.448-.72 2.8.304 5.624.52 8.448.72zM177.256 457.44c-2.4-.584-4.784-1.208-7.16-1.864 2.376.664 4.76 1.288 7.16 1.864zM201.944 462a236.382 236.382 0 0 1-7.576-1.08c2.504.408 5.04.744 7.576 1.08zM232 464zM189.416 460.032zM142.608 446.128zM153.872 450.48zM244.72 463.64zM257.256 462.608c-2.8.304-5.624.52-8.448.72 2.824-.2 5.648-.416 8.448-.72zM281.848 458.576zM269.64 460.912c-2.512.408-5.04.752-7.576 1.08 2.528-.328 5.064-.664 7.576-1.08zM332.032 441.368a235.234 235.234 0 0 1-10.64 4.76 226.642 226.642 0 0 0 10.64-4.76zM165.424 454.256zM321.392 446.128c-1.12.472-2.264.888-3.392 1.336 1.12-.448 2.264-.864 3.392-1.336zM332.352 441.224c-.104.048-.216.096-.32.144.104-.048.216-.088.32-.144zM182.152 458.576zM194.36 460.912a256.257 256.257 0 0 1-4.952-.88c1.656.304 3.296.616 4.952.88zM219.28 463.64c-1.368-.072-2.728-.216-4.088-.312 1.368.096 2.72.24 4.088.312zM206.744 462.608c-1.608-.176-3.2-.4-4.8-.608 1.6.208 3.192.432 4.8.608zM131.928 441.352c-.088-.04-.184-.08-.272-.12.088.04.184.08.272.12zM248.808 463.328c-1.368.096-2.72.24-4.088.312 1.368-.072 2.72-.216 4.088-.312zM298.576 454.256zM310.128 450.48c-1.408.504-2.832.96-4.248 1.44 1.416-.48 2.84-.936 4.248-1.44zM146.008 447.472c-1.128-.448-2.272-.872-3.392-1.336 1.12.464 2.264.88 3.392 1.336zM158.128 451.92c-1.416-.48-2.848-.936-4.248-1.44 1.4.504 2.824.96 4.248 1.44zM262.056 462c-1.6.208-3.192.44-4.8.608 1.608-.176 3.2-.4 4.8-.608zM286.744 457.44c-1.624.392-3.256.768-4.896 1.128 1.64-.352 3.272-.728 4.896-1.128zM274.584 460.032c-1.648.304-3.288.616-4.952.88 1.664-.264 3.304-.576 4.952-.88zM170.104 455.584c-1.56-.432-3.128-.864-4.68-1.328 1.552.464 3.112.896 4.68 1.328z"></path></g><path d="M285.104 247.952C310.952 230.744 328 201.376 328 168c0-53.016-42.984-96-96-96s-96 42.984-96 96c0 33.376 17.048 62.744 42.896 79.952 0 0 .008.008.016.008-.008 0-.008-.008-.008-.008-61.872 18.648-110.048 68.864-125.56 132.04l.008.008a237.163 237.163 0 0 0 7.832 8.944c.648.712 1.328 1.392 1.992 2.088a239.937 239.937 0 0 0 6.296 6.464c.888.872 1.792 1.712 2.696 2.568a233.567 233.567 0 0 0 6.04 5.568c1.016.896 2.048 1.784 3.072 2.664 2.008 1.72 4.04 3.408 6.112 5.056 1.088.872 2.184 1.728 3.28 2.584a214.91 214.91 0 0 0 6.376 4.72c1.112.792 2.208 1.6 3.336 2.376 2.272 1.568 4.584 3.072 6.912 4.56 1.048.664 2.072 1.352 3.128 2.008a237.722 237.722 0 0 0 8.184 4.792c.728.408 1.44.848 2.176 1.248a231.937 231.937 0 0 0 10.872 5.592c.088.04.184.08.272.12 3.512 1.68 7.08 3.272 10.688 4.776 1.12.472 2.264.888 3.392 1.336 2.608 1.04 5.216 2.064 7.872 3.008 1.408.504 2.832.96 4.248 1.44 2.416.816 4.848 1.608 7.296 2.336 1.552.464 3.112.896 4.68 1.328 2.368.656 4.752 1.28 7.16 1.864a219.555 219.555 0 0 0 12.152 2.584c1.648.304 3.288.616 4.952.88 2.512.408 5.04.752 7.576 1.08 1.6.208 3.192.44 4.8.608 2.8.304 5.624.52 8.448.72 1.368.096 2.72.24 4.088.312 4.216.24 8.448.376 12.72.376s8.504-.136 12.72-.36c1.368-.072 2.728-.216 4.088-.312 2.832-.2 5.656-.416 8.448-.72 1.608-.176 3.2-.4 4.8-.608 2.536-.328 5.064-.672 7.576-1.08 1.656-.272 3.304-.576 4.952-.88a215.477 215.477 0 0 0 12.152-2.584c2.4-.584 4.784-1.208 7.16-1.864 1.56-.432 3.128-.864 4.68-1.328 2.456-.736 4.88-1.528 7.296-2.336 1.416-.48 2.848-.936 4.248-1.44a245.374 245.374 0 0 0 7.872-3.008c1.128-.448 2.272-.872 3.392-1.336a226.642 226.642 0 0 0 10.64-4.76c.104-.048.216-.096.32-.144 3.68-1.768 7.304-3.64 10.872-5.592.736-.4 1.448-.84 2.176-1.248a237.722 237.722 0 0 0 8.184-4.792c1.056-.648 2.088-1.336 3.128-2.008 2.328-1.488 4.64-3 6.912-4.56 1.12-.776 2.224-1.576 3.336-2.376a247.51 247.51 0 0 0 6.376-4.72 202.128 202.128 0 0 0 3.28-2.584 230.055 230.055 0 0 0 6.112-5.056c1.032-.88 2.064-1.768 3.072-2.664a233.567 233.567 0 0 0 6.04-5.568c.896-.856 1.808-1.704 2.696-2.568a228.37 228.37 0 0 0 6.296-6.464c.656-.704 1.336-1.384 1.992-2.088 2.68-2.92 5.304-5.896 7.832-8.944l.008-.008c-15.504-63.184-63.68-113.4-125.552-132.048z" fill="#c6c3bd"></path></svg>
                                                </div>
        
                                                <div class="size-207">
                                                    <div class="flex-w flex-sb-m ">
                                                        <div style="display: flex;flex-direction: column;justify-content: flex-start;width: 100%;">
                                                        <span class="mtext-107 cl2 " style="text-align: left;">
                                                           ${js.name}
                                                        </span>
                                                        <span class=" cl6" style="text-align: left;">
                                                            ${js.reviews.createdAt}
                                                        </span>
                                                     </div>
                                                        <span class="fs-18 cl11"style="text-align: left;">
                     ${ Array(js.reviews.rating).fill().map(e=>`<i class="zmdi zmdi-star"></i>`).join('')}
                     ${ Array(5-js.reviews.rating).fill().map(e=>`<i class="zmdi zmdi-star-outline"></i>`).join('')}
                                                     
                                                        </span>
                                                    </div>
        
                                                    <p class="stext-102 cl6"style="text-align: left;">
                                                        ${js.reviews.comment}
                                                    </p>
                                                </div>
                                            </div>
                                            `;
            var parser = new DOMParser();
            var doc = parser.parseFromString(newreview, 'text/html');
        var last=document.getElementById('cmform');
        last.parentNode.insertBefore(doc.body.firstChild,last.nextSibling);
        
              }else{
                  document.getElementById('flash-msg').classList.remove('dis-none');
                  document.getElementById('flash-msg').innerText='You have to purchase this product to make review';
              }
        
           
            } 
            else{
                document.getElementById("cmform").reset();
        var stars=document.getElementsByClassName('item-rating');
        [...stars].forEach(star=>{
         
            if(star.classList.contains('zmdi-star')){
                console.log(star)
                star.classList.remove('zmdi-star');
                star.classList.add('zmdi-star-outline');
            }
        }) 
            }    
            }else{
                document.getElementById('flash-msg').classList.remove('dis-none');
                  document.getElementById('flash-msg').innerText='Please give rating or comment';
            }
        }
         
              }
        
        
        
            </script>
        
  


        <script>
            window.addEventListener('click',(e)=>{
                console.log(e.target.classList )
                if(!e.target.classList.contains('mainbtn') &&!e.target.classList.contains('subbtn')){
                var subs= document.getElementsByClassName('sub');
               document.getElementById('sub_variant').value='0';
                document.getElementById('main_variant').value='0';
           for(item of subs){
            //    console.log(item.id);
               var divid=item.id.substring(3);
             
                document.getElementById('main'+divid).style.border='none'; 
               
           }
     
            document.getElementById('sub_variant').value='0';
                document.getElementById('main_variant').value='0';
           var subbtns= document.getElementsByClassName('subbtn');
           for(item of subbtns){
            //    console.log(item.id);
               var divid=item.id;
                document.getElementById(divid).style.border='none'; 
              
            }
        }
        })
            document.getElementById('sub0').style.display='block';
            function submitmyform(){
                var qty=document.getElementById('numitem').value;
                var field_1=document.getElementById('sub_variant').value;
                var field_2=document.getElementById('main_variant').value;
                console.log(qty);
                if(field_1==='0'&&field_2==='0'){
                if(qty>=1){
                    document.getElementById('copynum').value=qty;
                    document.getElementById('add-to-cart-form').submit();
                }
            }else if(field_1==='1'&&field_2==='1'){
                if(qty>=1){
                    document.getElementById('copynum').value=qty;
                    document.getElementById('add-to-cart-form').submit();
                }
            }else if(field_1==='1'&&field_2==='0'){
      alert('select category');
            }else if(field_1==='0'&&field_2==='1'){
                alert('select grams');
            }
            }

            function select_main(id){
           var subs= document.getElementsByClassName('sub');
           for(item of subs){
            //    console.log(item.id);
               var divid=item.id.substring(3);
               if(divid!==id){
                document.getElementById('sub'+divid).style.display='none'; 
                document.getElementById('main'+divid).style.border='none'; 
               }
           }
                document.getElementById('sub'+id).style.display='block';
        document.getElementById("main"+id).style.border='1px solid black';
        document.getElementById('main_variant').value='1';
            }
            function set_productid(link,id){

                var subbtns= document.getElementsByClassName('subbtn');
           for(item of subbtns){
            //    console.log(item.id);
               var divid=item.id;
               if(divid!==id){ 
                document.getElementById(divid).style.border='none'; 
               }
           }



                document.getElementById("add-to-cart-form").action ='/increase/'+link;
                
        document.getElementById('sub_variant').value='1';
        document.getElementById(id).style.border='1px solid black';

            }
        </script>












        <!-----------------Content Main Placeholder End--------------------->
       

        <%- include ../partials/homefooter %>
    <!-- <script src="/plugins/jquery.min.js"></script> -->
    <script src="/plugins/nouislider/nouislider.min.js"></script>

    <script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- <script src="/plugins/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/plugins/imagesloaded.pkgd.min.js"></script>
    <!-- <script src="/plugins/masonry.pkgd.min.js"></script>
    <script src="/plugins/isotope.pkgd.min.js"></script> -->
    <!-- <script src="/plugins/jquery.matchHeight-min.js"></script> -->
    <script src="/plugins/slick/slick/slick.min.js"></script>
    <script src="/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script src="/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="/plugins/slick-animation.min.js"></script>
    <script src="/plugins/lightGallery-master/dist/js/lightgallery-all.min.js"></script>

    <script src="/plugins/main.js"></script>



